@import "./cake.css";
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../vendor/ballstatecber/datacenter-plugin-cakephp4/webroot/css/datacenter.scss";

#data-disclaimer {
    color: white;
    font-size: 80%;
    margin-bottom: 30px;

    a {
        color: white;
        text-decoration: underline;
    }
}

table.observations {
    th,
    td {
        vertical-align: top;
    }
    .fa-arrow-circle-up {
        color: green;
    }
    .fa-arrow-circle-down {
        color: red;
    }
    thead {
        th {
            text-align: right;
            white-space: normal;
        }
    }
    tbody {
        td:not(:first-child) {
            text-align: right;
        }
    }
}

#menu_column {
    h2 {
        margin-bottom: 0;
    }
    ul {
        margin-top: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}

.download-link {
    a {
        display: inline-block;
    }

    i {
        font-size: 120%;
        margin-right: 0.5em;
    }
}

#sidebar {
    h2 {
        margin-bottom: 0;
    }
    ul {
        padding-left: 0;
        margin-top: 0;
        margin-left: 20px;
    }
}

#upcoming-releases {
    > div {
        border-bottom: 1px solid #aaa;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &:last-child {
            border-bottom: none;
        }

        > ul {
            margin-bottom: 0;

            ul {
                margin-top: 0;
            }
        }
    }

    button {
        padding-bottom: 0;
        padding-top: 0;

        span {
            color: #000;
            margin-left: 0.5em;
        }

        &:hover {
            text-decoration: none;

            span {
                text-decoration: underline;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }
}

#twitter-feed {
    background-color: #fff;
    float: right;
    padding-bottom: 1em;
    padding-left: 1em;
}

#content {
    > section {
        margin-bottom: 3em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.disclaimer {
    font-size: 80%;
}

div.sparkline {
    height: 30px;
    margin-top: 5px;
    width: 100px;
}

.date-footnote {
    color: $text-muted;
    font-size: 80%;
}
