@import "./cake.css";
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../vendor/ballstatecber/datacenter-plugin-cakephp4/webroot/css/datacenter.scss";

#data-disclaimer {
    color: white;
    font-size: 80%;
    margin-top: 15px;
}

table.observations {
    th,
    td {
        vertical-align: top;
    }
    .fa-arrow-circle-up {
        color: green;
    }
    .fa-arrow-circle-down {
        color: red;
    }
}

#menu_column {
    h2 {
        margin-bottom: 0;
    }
    ul {
        margin-top: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}
